<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Exercise</title>
</head>
<body>
    <form action="/logset" method="post">
        <label for="date">Date:</label><br>
        <input type="date" name="date"></input><br><br>
        <label for="exercise">Exercise:</label><br>
        <select name="exercise">
            {% for item in data[1:] %}
                <option value="{{item}}">{{item[1]}}</option>
            {% endfor %}
        </select><br><br>
        <label for="reps">Reps:</label><br>
        <input type="number" name="reps"></input><br><br>
        <label for="Weight">Weight:</label><br>
        <input type="number" name="weight"></input><br><br>
        <input type="submit"></input><br><br>
      </form>
</body>
</html>