<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workouts</title>
</head>
<body>
    <a href="http://127.0.0.1:5000/newset">Enter a New Set</a>
    <table id="sets">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Exerise</th>
            <th>Reps</th>
            <th>Wegiht</th>
        </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>